
et-editor,
:host {
  /* 当前引用块语义色 */
  --et-bq-color-semantic: var(--et-color-border-3);
  /* 当前引用块文本色 */
  --et-bq-color-text: var(--et-color-text-mute);
}

et-bq {
  margin: 8px 0;
  padding-left: 16px;
  border-left: 3px solid var(--et-bq-color-semantic);
  color: var(--et-bq-color-text);
}

et-bq[data-type]:not([data-type=""]) {
  color: unset;
}

et-bq[data-type="note"] > et-p:first-of-type,
et-bq[data-type="tip"] > et-p:first-of-type ,
et-bq[data-type="important"] > et-p:first-of-type,
et-bq[data-type="warning"] > et-p:first-of-type,
et-bq[data-type="caution"] > et-p:first-of-type {
  font-weight: bold;
  &::before {
    margin-right: 8px;
  }
}

et-bq[data-type="note"] {
  --et-bq-color-semantic: #227bff;
}
et-bq[data-type="note"] > et-p:first-of-type {
  color: var(--et-bq-color-semantic);    
  &::before {
    content: 'ⓘ';
  }
}

et-bq[data-type="tip"] {
  --et-bq-color-semantic: #07a156;
}
et-bq[data-type="tip"] > et-p:first-of-type {
  color: var(--et-bq-color-semantic);
  &::before {
    content: '💡';
  }
}

et-bq[data-type="important"] {
  --et-bq-color-semantic: #9771ff;
}
et-bq[data-type="important"] > et-p:first-of-type {
  color: var(--et-bq-color-semantic);
  &::before {
    content: '🔔';
  }
}

et-bq[data-type="warning"] {
  --et-bq-color-semantic: #bd7b00;
}
et-bq[data-type="warning"] > et-p:first-of-type {
  color: var(--et-bq-color-semantic);
  &::before {
    content: '⚠️';
  }
}

et-bq[data-type="caution"] {
  --et-bq-color-semantic: #f14c56;
}
et-bq[data-type="caution"] > et-p:first-of-type {
  color: var(--et-bq-color-semantic);
  &::before {
    content: '🛑';
  }
}