
et-editor,
.et-editor,
:host {
  /* 当前引用块语义色 */
  --et-bq-color-semantic: var(--et-color-border-3);
  /* 当前引用块文本色 */
  --et-bq-color-text: var(--et-color-text-mute);
}

et-bq,
.et-bq {
  margin: 8px 0;
  padding-left: 16px;
  border-left: 3px solid var(--et-bq-color-semantic);
}

/* 默认引用块 */
et-bq[data-type=""],
.et-bq[data-type=""] {
  color: var(--et-bq-color-text);
}
