
et-editor,
:host {
  /* 当前引用块语义色 */
  --et-bq-color-semantic: var(--et-color-border-3);
  /* 当前引用块文本色 */
  --et-bq-color-text: var(--et-color-text-mute);
}

et-bq {
  margin: 8px 0;
  padding-left: 16px;
  border-left: 3px solid var(--et-bq-color-semantic);
}

/* 默认引用块 */
et-bq[data-type=""] {
  color: var(--et-bq-color-text);
}

/* github 风格语意引用块 */
et-bq[data-type="note"],
et-bq[data-type="tip"] ,
et-bq[data-type="important"],
et-bq[data-type="warning"],
et-bq[data-type="caution"] {
  & > et-p:first-of-type {
    font-weight: bold;
    &::before {
      margin-right: 8px;
    }
  }
}
et-bq[data-type="note"] {
  --et-bq-color-semantic: #227bff;
}
et-bq[data-type="note"] > et-p:first-of-type {
  color: var(--et-bq-color-semantic);    
  &::before {
    content: 'ⓘ';
  }
}
et-bq[data-type="tip"] {
  --et-bq-color-semantic: #07a156;
}
et-bq[data-type="tip"] > et-p:first-of-type {
  color: var(--et-bq-color-semantic);
  &::before {
    content: '💡';
  }
}
et-bq[data-type="important"] {
  --et-bq-color-semantic: #9771ff;
}
et-bq[data-type="important"] > et-p:first-of-type {
  color: var(--et-bq-color-semantic);
  &::before {
    content: '🔔';
  }
}
et-bq[data-type="warning"] {
  --et-bq-color-semantic: #bd7b00;
}
et-bq[data-type="warning"] > et-p:first-of-type {
  color: var(--et-bq-color-semantic);
  &::before {
    content: '⚠️';
  }
}
et-bq[data-type="caution"] {
  --et-bq-color-semantic: #f14c56;
}
et-bq[data-type="caution"] > et-p:first-of-type {
  color: var(--et-bq-color-semantic);
  &::before {
    content: '🛑';
  }
}

/* 分栏引用块 (段落组 paragraph-group) */
et-bq[data-type="pg"],et-bq[data-type="pg2"],et-bq[data-type="pg3"] {
  column-gap: 1.6em;
  margin-inline: -8px;
  padding: 8px;
  border: none;
  border-radius: 8px;
  outline-width: 1px;
  outline-style: dashed;
  outline-color: transparent;
  transition: outline-color 0.15s ease-out;
  --et-bq-color-semantic: var(--et-color-theme);

  &:hover,
  &.Et--active {
    outline-color: var(--et-bq-color-semantic);
  }

  &:has(> et-bq[data-type="pg2"]),
  &:has(> et-bq[data-type="pg3"]) {
    column-count: 1 !important;
  }
}

.Et--pg-outlining {
  et-bq[data-type="pg"],et-bq[data-type="pg2"],et-bq[data-type="pg3"] {
    outline-color: var(--et-bq-color-semantic);
  }
}

@container et-body (min-width: 520px) {
  et-bq[data-type="pg2"],
  et-bq[data-type="pg3"] {
    column-count: 2;
  }
  et-bq[data-type="pg2"],
  et-bq[data-type="pg3"] {
    &:has(> et-bq),
    &:has(> et-code),
    &:has(> et-table) {
      column-count: 1;
    }
  }
}
@container et-body (min-width: 760px) {
  et-bq[data-type="pg3"] {
    column-count: 3;
  }
  et-bq[data-type="pg2"],
  et-bq[data-type="pg3"] {
    &:has(> et-bq),
    &:has(> et-code),
    &:has(> et-table) {
      column-count: 2;
    }
  }
}
