.et-editor,
et-editor,
:host {
  --et-table-border-color: #888;
  --et-table-border-radius: 8px;
  --et-table-odd-row-bg-color: #f7f8f9;
}
.et-editor.dark, 
et-editor.dark, 
:host.dark {
  --et-table-odd-row-bg-color: #171819;
}

.et-table,
et-table {
  /* 等宽表格 */
  &[data-even="1"] {
    table-layout: fixed;
    & et-tc,
    & .et-tc {
      width: 100%;
    }
  }

  /* 表格对齐 */
  &[data-align="left"] {
    text-align: left;
  }
  &[data-align="right"] {
    text-align: right;
  }
  &[data-align="center"] {
    text-align: center;
  }

  /* 表格标题 */
  &[data-head="rc"],
  &[data-head="r"] {
    & > .et-tr:first-child,
    & > et-tr:first-child {
      font-weight: bold;
    }
  }
  &[data-head="rc"],
  &[data-head="c"] {
    & .et-tc:first-child,
    & et-tc:first-child {
      font-weight: bold;
    }
  }

}

.et-table,
et-table {
  display: table !important;
  /* collapse 会导致 border-radius 失效；但不 collapse 又太丑了 */
  /* border-collapse: collapse; */
  /* border-spacing: 0; */
  /* table-layout: fixed; */
  width: 100%;
  margin-block: 10px;
  overflow: auto;
  border: 1px solid var(--et-table-border-color);
  /* 阻止表格在分栏时被分割 */
  break-inside: avoid-column;

  transition-property: border-color;
  transition-duration: var(--et-transition-duration);
  transition-timing-function: var(--et-transition-timing-function);

  &:has(> :only-child) {
    border-radius: 4px;
    --et-table-border-radius: 4px;
  }
  &:has(> :nth-child(2)) {
    border-radius: 6px;
    --et-table-border-radius: 6px;
  }
  &:has(> :nth-child(3)) {
    border-radius: 8px;
    --et-table-border-radius: 8px;
  }
}

.et-tr,
et-tr {
  display: table-row !important;

  &:nth-child(odd) {
    background-color: var(--et-table-odd-row-bg-color);
    transition-property: background-color;
    transition-duration: var(--et-transition-duration);
    transition-timing-function: var(--et-transition-timing-function);
  }
  &:first-child {
    border-top-left-radius: var(--et-table-border-radius);
    border-top-right-radius: var(--et-table-border-radius);
  }
  &:last-child {
    border-bottom-left-radius: var(--et-table-border-radius);
    border-bottom-right-radius: var(--et-table-border-radius);
  }

  .Et--selection-all & {
    background-color: transparent;
    transition: none;
  }
}

.et-tc,
et-tc {
  display: table-cell !important;
  padding: 6px;
  line-height: 1.5;
  /* 设置最小高度, 避免空内容时高度坍缩; 表格中使用 height 而非 min-height, 后者无效 */
  height: calc(1.5em + 12px);

  transition-property: border-color;
  transition-duration: var(--et-transition-duration);
  transition-timing-function: var(--et-transition-timing-function);

  &:not(:first-child) {
    border-inline-start: 1px solid var(--et-table-border-color);
  }
  .et-tr:not(:first-child) > &,
  et-tr:not(:first-child) > & {
    border-block-start: 1px solid var(--et-table-border-color);
  }
  .et-tr:first-child > &:first-child,
  et-tr:first-child > &:first-child {
    border-top-left-radius: var(--et-table-border-radius);
  }
  .et-tr:first-child > &:last-child,
  et-tr:first-child > &:last-child {
    border-top-right-radius: var(--et-table-border-radius);
  }
  .et-tr:last-child > &:first-child,
  et-tr:last-child > &:first-child {
    border-bottom-left-radius: var(--et-table-border-radius);
  }
  .et-tr:last-child > &:last-child,
  et-tr:last-child > &:last-child {
    border-bottom-right-radius: var(--et-table-border-radius);
  }
}