.et-editor,
et-editor,
:host {
  --et-table-border-color: #888;
  --et-table-border-radius: 8px;
  --et-table-odd-row-bg-color: #f7f8f9;
}
.et-editor.Et--dark, 
et-editor.Et--dark, 
:host.dark {
  --et-table-odd-row-bg-color: #171819;
}

.et-table,
et-table {
  /* 等宽表格 */
  &[data-even="1"] {
    table-layout: fixed;
    & et-tc,
    & .et-tc {
      width: 100%;
    }
  }

  /* 表格对齐 */
  &[data-align="left"] {
    text-align: left;
  }
  &[data-align="right"] {
    text-align: right;
  }
  &[data-align="center"] {
    text-align: center;
  }

  /* 表格标题 */
  &[data-head="rc"],
  &[data-head="r"] {
    & > .et-tr:first-child,
    & > et-tr:first-child {
      font-weight: bold;
    }
  }
  &[data-head="rc"],
  &[data-head="c"] {
    & .et-tc:first-child,
    & et-tc:first-child {
      font-weight: bold;
    }
  }
}

.et-table,
et-table {
  display: table !important;
  /* collapse 会导致 border-radius 失效；但不 collapse 又太丑了 */
  /* border-collapse: collapse; */
  /* border-spacing: 0; */
  /* table-layout: fixed; */
  border-collapse: collapse;
  margin-block: 10px;
  /* 阻止表格在分栏时被分割 */
  break-inside: avoid-column;

  transition-property: border-color;
  transition-duration: var(--et-transition-duration);
  transition-timing-function: var(--et-transition-timing-function);

}

.et-tr,
et-tr {
  display: table-row !important;
}

.et-tc,
et-tc {
  border: 1px solid;
  display: table-cell !important;
  padding: 6px;
  line-height: 1.5;
  /* 设置最小高度, 避免空内容时高度坍缩; 表格中使用 height 而非 min-height, 后者无效 */
  height: calc(1.5em + 12px);
}