
/* 深色模式, 指向 et-editor.dark (编辑器非 shadow 时) */
et-editor.dark,
/* 该 css会插入 shadowRoot, 而 et-editor 是 shadowRoot 的 host, 访问不到, 内部需要用 :host 来访问 host */
:host(.dark) {
  color-scheme: dark;

  --et-color-theme: #9971e7;

  --et-color-bg: oklch(15% 0 0);
  --et-color-bg-soft: oklch(25% 0 0);
  --et-color-bg-mute: oklch(30% 0 0);
  --et-color-bg--hover: oklch(35% 0 0);
  --et-color-bg--active: oklch(40% 0 0);
  --et-color-bg__card: var(--et-color-bg-soft);  /* 深色模式的卡片背景需要通过亮度提高层级 */
  --et-color-bg__item: var(--et-color-bg-mute);
  --et-color-bg__backdrop: rgb(0 0 0 / 0.5);
  
  --et-color-text: oklch(98% 0 0);
  --et-color-text-soft: oklab(88% 0 0);
  --et-color-text-mute: oklch(78% 0 0);
  --et-color-text-disabled: oklch(68% 0 0);

  --et-color-caret: #e1e2e3;

  --et-color-border-1: #222;
  --et-color-border-2: #333;
  --et-color-border-3: #444;

  --et-color-hinting: #9bd;
  --et-color-selection-all: #3b516f;
  --et-color-selection-all--blur: #202428;

}

et-editor,
/* 在 shadowDOM 内部, :host指向宿主元素, 即 et-editor */
:host {
  color-scheme: light;

  --et-color-theme: #6621e7;

  /* --et-theme-color: ;
  --et-theme-color--hover: ;
  --et-theme-color--active: ; */

  --et-color-bg: oklch(100% 0 0);
  --et-color-bg-soft: oklch(97% 0 0);
  --et-color-bg-mute: oklch(95% 0 0);
  --et-color-bg--hover: oklch(93% 0 0);
  --et-color-bg--active: oklch(91% 0 0);
  --et-color-bg__card: var(--et-color-bg); /* 亮模式的卡片背景通过阴影提高层级, 背景色使用基础背景 */
  --et-color-bg__item: var(--et-color-bg);
  --et-color-bg__backdrop: rgb(0 0 0 / 0.2);

  --et-color-text: oklch(10% 0 0);
  --et-color-text-soft: oklab(20% 0 0);
  --et-color-text-mute: oklch(50% 0 0);
  --et-color-text-disabled: oklch(60% 0 0);

  --et-color-caret: #111213;

  --et-color-border-1: #eee;
  --et-color-border-2: #ddd;
  --et-color-border-3: #ccc;

  --et-color-hinting: #79d;
  --et-color-selection-all: #b9d4fa;
  --et-color-selection-all--blur: #dcdcdc;

  --et-shadow-s: 
    inset 0 1px 1px #ffffff30,
    1px 2px 4px rgb(0 0 0 / 0.20), 
    1px 4px 6px rgb(0 0 0 / 0.10),
    0 6px 8px rgb(0 0 0 / 0.10);

  --et-shadow-m: 
    inset 0 1px 1px #ffffff50,
    2px 2px 6px rgb(0 0 0 / 0.24), 
    2px 4px 10px rgb(0 0 0 / 0.12),
    0 8px 16px rgb(0 0 0 / 0.12);

  --et-shadow-l: 
    inset 0 1px 1px #ffffff70,
    3px 3px 6px rgb(0 0 0 / 0.24),
    6px 8px 12px rgb(0 0 0 / 0.24), 
    0 12px 16px rgb(0 0 0 / 0.12);

  --et-font-size: 15px;
  --et-font-weight: 449;
  --et-letter-space: 0.02em;

  --et-transition-color-scheme: 
    background-color 0.2s ease-in, 
    border-color 0.2s ease-in,
    color 0.2s ease-in;
}

et-editor,
:host {
  *,
  ::before,
  ::after {
    /* padding: 0; */
    /* margin: 0; */
    outline: none;
    box-sizing: border-box;
  }
}

et-editor,
:host {
  /* 应由 et-editor 父容器定位 */
  /* position: relative; */
  /* 创建bfc 包含浮动 */
  display: flow-root;

  caret-color: var(--et-color-caret);
  color: var(--et-color-text-soft);
  background-color: var(--et-color-bg);
  font-size: var(--et-font-size);
  font-weight: var(--et-font-weight);
  letter-spacing: var(--et-letter-space);

  transition: var(--et-transition-color-scheme);
}
