
/* :host指向的是et-editor 元素 */
et-editor,
:host {
  color-scheme: light;

  --et-font-family: 'ubuntu-font';
  --et-font-size: 15px;
  --et-font-weight: 449;
  --et-letter-space: 0.02em;

  --et-color-bg: #fafbfc;
  --et-color-bg--hover: #ecedee;
  --et-color-bg--active: #e1e2e3;

  --et-color-text: #1b1b1b;
  --et-color-text-disabled: #888;

  --et-color-border-1: #eee;
  --et-color-border-2: #ddd;
  --et-color-border-3: #ccc;

  --et-shadow: 2px 2px 6px rgb(0 0 0 / 0.24), 2px 4px 10px rgb(0 0 0 / 0.12),
    0 8px 16px rgb(0 0 0 / 0.12);

  --et-shadow-1: 3px 3px 6px rgb(0 0 0 / 0.24),
    6px 8px 12px rgb(0 0 0 / 0.24), 0 12px 16px rgb(0 0 0 / 0.12);
}

/* 深色模式, 指向 et-editor.dark, 可类似的使用 :host(.theme) 来为编辑器设定不同的主题 */
et-editor.dark,
:host(.dark),
et-editor.dark[et-theme="default"],
:host(.dark[et-theme="default"]),
/* 指向 ed-editor 元素, 当其html或body具有 dark 类时生效 */
:host-context(:root.dark),
:host-context(body.dark) {
  color-scheme: dark;

  --et-color-bg: #0a0b0c;
  --et-color-bg--hover: #1d1e1f;
  --et-color-bg--active: #313233;

  --et-color-text: #e1e1e1;
  --et-color-text--disabled: #aaa;

  --et-color-border-1: #222;
  --et-color-border-2: #333;
  --et-color-border-3: #444;

  --et-shadow: 2px 2px 6px rgb(0 0 0 / 0.24), 2px 4px 10px rgb(0 0 0 / 0.12),
    0 8px 16px rgb(0 0 0 / 0.12);

  --et-shadow-1: 3px 3px 6px rgb(0 0 0 / 0.24),
    6px 8px 12px rgb(0 0 0 / 0.24), 0 12px 16px rgb(0 0 0 / 0.12);
}


et-editor,
:host {
  *,
  ::before,
  ::after {
    outline: none;
    box-sizing: border-box;
  }

  /* 应由 et-editor 父容器定位 */
  /* position: relative; */
  /* 创建bfc 包含浮动 */
  display: flow-root;

  color: var(--et-color-text);
  background-color: var(--et-color-bg);
  font-family: var(--et-font-family);
  font-size: var(--et-font-size);
  font-weight: var(--et-font-weight);
  letter-spacing: var(--et-letter-space);
}

/* 默认编辑器外框样式 */
et-editor[et-theme="default"],
:host([et-theme="default"]) {
  min-height: 300px;
  max-width: 760px;
  padding: 40px;
  margin: 8px auto;
  border: 1px solid var(--et-color-border-3);
  border-radius: 8px;
}

/* 编辑区内置样式 */
et-body {
  display: block !important;
  min-height: 128px;
  margin: 8px auto;
  outline: none;
  border: none;
  hyphens: auto;  /* 末尾单词自动连接符 */
  white-space: pre-wrap !important; /* 支持段落内文本换行符来换行 */
  
}