:where(.et-editor, et-editor) {
  padding: 16px;
}
/* 编辑区内置样式 */
et-body,
.et-body {
  display: block !important;
  outline: none;
  hyphens: auto;  /* 末尾单词自动连接符 */
  /* 容器查询, 仅关心宽度; 该属性会隐式设置 contain: style, 导致嵌套有序列表无法重新计数 */
  container: et-body / inline-size;
}
et-body.Et--selection-all {
  background-color: var(--et-color-selection-all--blur);
  transition: none;
  &:focus {
    background-color: var(--et-color-selection-all);
  }
  &::selection {
    background: none;
  }
}
.Et--selection-node {
  outline: 1px dashed var(--et-color-theme);
  &::selection {
    background: none;
  }
}

.etp {
  display: block;
  /* 段落最小高度, 防止段落空内容时高度坍缩 */
  min-height: 1.5em;
  line-height: 1.5;
}
:where(.et-p, et-p).etp {
  /* 段落不定位, 否则会影响其后代的position-anchor定位 */
  /* position: relative; */
  padding-block: 0.25em;
  min-height: 2em;
}

.Et--hidden {
  display: none !important;
}

/* 鼠标悬浮提示元素的 et-title属性值 */
:where([et-title]) {
  position: relative;

  &::before {
    content: attr(et-title);
    display: none;
    position: absolute;
    top: -8px;
    left: 50%;
    translate: -50% -100%;
    padding: 4px;
    border: 1px solid var(--et-color-border-2);
    border-radius: 3px;
    background-color: var(--et-color-bg__item);
    color: var(--et-color-text);
    font-size: 9px;
    white-space: pre;
    box-shadow: var(--et-shadow-s);
  }

  &.Et--selected::before,
  &:hover::before {
    display: block;
    animation: fade-in 0.3s ease-out;
  }
}

/* 占位符 使用et-placeholder属性 + ::before实现 */
[et-placeholder] {
  &:empty::before {
    content: attr(et-placeholder);
    color: var(--et-color-text-disabled);
    font-size: 0.95em;
  }

  &:active::before,
  &:focus::before {
    content: '';
  }
}

/* 背景按钮 */
.Et__bg-item {
  background-color: var(--et-color-bg__item);
  &:hover {
    background-color: var(--et-color-bg--hover);
  }
  &:active,
  &.Et--selected {
    background-color: var(--et-color-bg--active);
  }
}

/* 主题按钮 */
/* .Et__theme-item {
  &:hover {
    background-color: var(--et-theme-color--hover);
  }
  &:active,
  &.Et--selected {
    background-color: var(--et-theme-color--active);
  }
} */

.Et__card {
  background-color: var(--et-color-bg__card);
  box-shadow: var(--et-shadow-l);
  transition-property: var(--et-transition-property);
  transition-duration: var(--et-transition-duration);
  transition-timing-function: var(--et-transition-timing-function);
}

.Et__trans-cs {
  --default-property: 
    background-color, 
    outline-color,
    border-color,
    color;
  --default-duration: 0.3s;
  --default-timing-function: ease-in;
  transition-property: var(--et-transition-property, var(--default-property));
  transition-duration: var(--et-transition-duration, var(--default-duration));
  transition-timing-function: var(--et-transition-timing-function, var(--default-timing-function));
}

/* content-visibility */
/* et-body > .etp {
  content-visibility: auto;
}
et-body > :first-child,
et-body > :last-child,
et-body > .Et--active,
et-body > .Et--caret-in {
  content-visibility: visible !important;
} */


/* 动画 */
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes dropdown-in {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}


@keyframes bounce-in {
  0% {
    transform: scale(0.9);
  }

  60% {
    transform: scale(1.15);
  }

  100% {
    transform: none;
  }
}