@font-face {
  font-family: "ubuntu-font";
  font-stretch: 100%;
  font-style: normal;
  font-weight: 100 800;
  src: url("./fonts/ubuntu/ubuntu-font.woff2") format("woff2-variations");
}

@font-face {
  font-family: "Cascadia Code";
  font-stretch: 100%;
  font-style: normal;
  font-weight: 100 800;
  src: url("./fonts/cascadia/CascadiaCode.woff2") format("woff2-variations");
}