:root {
  --et-font-ubuntu: "Ubuntu";
  --et-font-ubuntu_mono: "UbuntuMono";
  --et-font-cascadia_code: "Cascadia Code";
  --et-font-monaspace_argon: "Monaspace Argon";
}

@font-face {
  font-family: "Ubuntu";
  font-stretch: 100%;
  font-style: normal;
  font-weight: 200 800;
  src: url("./fonts/ubuntu/ubuntu-font.woff2") format("woff2-variations");
}

@font-face {
  font-family: "UbuntuMono";
  font-stretch: 100%;
  font-style: normal;
  src: url("./fonts/ubuntu/UbuntuMono-R.ttf") format("truetype");
}

@font-face {
  font-family: "Cascadia Code";
  font-stretch: 100%;
  font-style: normal;
  font-weight: 200 800;
  src: url("./fonts/cascadia/CascadiaCode.woff2") format("woff2-variations");
}

@font-face {
  font-family: "Monaspace Argon";
  font-stretch: 100%;
  font-style: normal;
  font-weight: 200 800;
  src: url("./fonts/monaspace/Monaspace Argon Var.woff2") format("woff2-variations");
}