.et-editor,
et-editor,
:host {
  --et-list-checkMark: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='2 2 20 20'%3E%3Cpath d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z' stroke%3D'rgb(190 12 12)' fill%3D'rgb(190 12 12)' /%3E%3C/svg%3E");
  --et-list-indent: 22px;
}

.et-list, et-list {
  &[style-type="dash"] {
    list-style-type: disc;

    &>.et-li,
    &>et-li {
      &::marker {
        content: '-  ';
      }
    }
  }

  &[style-type="disc"] {
    list-style-type: disc;
  }

  &[style-type="decimal"] {
    list-style-type: decimal;
  }

  &[style-type="cjk-ideographic"] {
    list-style-type: cjk-ideographic;
  }

  &[style-type="cjk-heavenly-stem"] {
    list-style-type: cjk-heavenly-stem;
  }

  &[style-type="cjk-earthly-branch"] {
    list-style-type: cjk-earthly-branch;
  }

  &[style-type="lower-alpha"] {
    list-style-type: lower-alpha;
  }

  &[style-type="upper-alpha"] {
    list-style-type: upper-alpha;
  }

  &[style-type="lower-roman"] {
    list-style-type: lower-roman;
  }

  &[style-type="upper-roman"] {
    list-style-type: upper-roman;
  }
}

.et-list,
et-list {
  /* 强制counter重新计数, 避免有祖先设置 contain 时不同列表连续counter问题 */
  contain: style;
  display: block;
  margin: 4px 0;
  list-style-type: disc;
  padding-inline-start: var(--et-list-indent);
}

.et-li.etp,
et-li.etp {
  display: list-item;
  position: relative;
  margin: 2px 0;
  padding-block: 2px;
  min-height: calc(1.5em + 4px);

  &[et-check] {
    /* safari部分不支持::marker，无法通过::marker将其设置为空; 使用 list-style: none; 去除 */
    list-style: none;
    &::marker {
      content: '';
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: -0.2em;
      translate: -100% -50%;
      width: 1em;
      height: 1em;
      border: 1px solid #aaa;
      cursor: auto;
    }
  }

  &[et-check="true"] {
    &::before {
      content: '';
      background: var(--et-list-checkMark) no-repeat center/contain;
      animation: bounce-in 0.2s ease-out;
    }
  }
}