.et-editor,
et-editor,
:host {
  --et-mark-color__marker: var(--et-color-hinting);
  --et-mark-color__code_text: #ec3639;
  --et-mark-color__code_bg: #f7f7ff;
  --et-mark-color__hl_text: #212223;
  --et-mark-color__hl_bg: #fcd13c;
  --et-mark-font__code: 'monospace';
}

.et-editor.Et--dark,
et-editor.Et--dark,
:host(.Et--dark) {
  --et-mark-color__code_text: #97b7dc;
  --et-mark-color__code_bg: #24292e;
}

.et-mark,
et-mark {
  display: inline;
  border-radius: 2px;
  word-break: break-all;
  
  &.Et--caret-in {
    padding: 0;
  }
  &::after, &::before {
    display: none;
    color: var(--et-mark-color__marker);
    font-weight: normal;
  }
  &::after {
    padding-left: 1px;
    padding-right: 3px;
  }
  &::before {
    padding-left: 3px;
    padding-right: 1px;
  }
  &.Et--caret-in::after, &:has(.Et--caret-in)::after, 
  &.Et--caret-in::before, &:has(.Et--caret-in)::before {
    display: inline;
  }
  .Et--hinting_hidden &,
  .Et--selection-range & {
    &::after, &::before {
      display: none !important;
    }
  }
  &.Et_marking::after {
    color: #ddddee
  }
  
  &.Et_code {
    margin: 0px 2px; 
    padding: 3px 3px 2px;
    background-color: var(--et-mark-color__code_bg);
    color: var(--et-mark-color__code_text);
    font-size: 14px;
    font-family: var(--et-mark-font__code), monospace ;
    transition-property: color, background-color;
    transition-duration: var(--et-transition-duration);
    transition-timing-function: var(--et-transition-timing-function);
  }
  &.Et_code.Et--caret-in {
    padding: 3px 0 2px;
  }
  &.Et_code::after, &.Et_code::before {
    content: "`";
  }
  
  
  &.Et_bold {
    font-weight: bold;
  }
  &.Et_bold::after, &.Et_bold::before {
    content: "**";
  }
  
  
  &.Et_italic {
    font-style: italic;
    /* 斜体右边增加一点间距 避免字符顶部重叠 */
    margin-inline-end: 0.12em;
  }
  &.Et_italic::after, &.Et_italic::before {
    content: "*";
  }
  
  
  &.Et_delete {
    text-decoration: line-through;
  }
  &.Et_delete::after, &.Et_delete::before {
    content: "~~";
  }
  
  
  &.Et_highlight {
    color: var(--et-mark-color__hl_text);
    background-color: var(--et-mark-color__hl_bg);
    padding: 1px 2px;
  }
  &.Et_highlight::after, &.Et_highlight::before {
    content: "==";
  }
}
