@import "../fonts/ubuntu.css";
@import "../fonts/cascadia_code.css";


/* 默认编辑器外框样式 */
.et-editor[et-theme="default"],
et-editor[et-theme="default"],
:host([et-theme="default"]) {

  --et-mark-font__code: var(--et-font-cascadia_code);

  min-height: 300px;
  padding: 40px;
  margin: 8px auto;
  border: 1px solid var(--et-color-border-3);
  border-radius: 8px;

  font-family: var(--et-font-ubuntu);
}

/* 深色模式 */
/* 
et-editor[et-theme="default"].dark,
:host([et-theme="default"].dark) {

} */
