et-editor,
:host {
  --et-code-radius: 8px;
  --et-code-max-height: 49vh;
  --et-code-font-family: monospace;

  --et-code-bg-copy: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' height='20' width='20' stroke='rgba(128,128,128,1)' stroke-width='2' viewBox='0 0 24 24'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M9 5H7a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-2M9 5a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2M9 5a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2'/%3E%3C/svg%3E");
  --et-code-bg-copied: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' height='20' width='20' stroke='rgba(128,128,128,1)' stroke-width='2' viewBox='0 0 24 24'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M9 5H7a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-2M9 5a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2M9 5a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2m-6 9 2 2 4-4'/%3E%3C/svg%3E");

  --et-code-bg-render: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='rgba(128,128,128,1)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='m17 2 4 4-4 4'/><path d='M3 11v-1a4 4 0 0 1 4-4h14'/><path d='m7 22-4-4 4-4'/><path d='M21 13v1a4 4 0 0 1-4 4H3'/></svg>");
}

et-editor.dark,
:host(.dark) {
  .shiki,
  .shiki span {
    color: var(--shiki-dark) !important;
    /* Optional, if you also want font styles */
    /* font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important; */
  }
  .shiki {
    background-color: var(--shiki-dark-bg) !important;
  }
}

et-code.et {
  position: relative;
  margin: 8px 0;
  padding: 0;
  border: 1px solid var(--et-color-border-1);
  border-radius: var(--et-code-radius);
  hyphens: none;

  /* lang */
  &::before {
    content: attr(et-code-lang);
    position: absolute;
    right: 8px;
    top: 4px;
    color: var(--et-color-text-disabled);
    font-size: 0.8em;
    max-width: 64px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 1;
  }

  &:hover::before {
    opacity: 0;
  }
}

.selection-all .et-code__wrapper.shiki {
  background-color: unset !important;
}
.et-code__wrapper {
  margin: 0;
  padding: 0;
  min-height: 32px;
  max-height: var(--et-code-max-height);
  border-radius: inherit;
  overflow: auto;
}
.et-code__container {
  position: relative;
  height: fit-content;
  width: fit-content;
  min-width: 100%;
  & > pre,
  & > textarea {
    margin: 0;
    padding: 16px 16px 16px 40px;
    background: none;
    font-family: var(--et-code-font-family);
    font-size: 13.5px;
    line-height: 1.5em;
    letter-spacing: 0;
    word-spacing: 0;
    white-space: pre;
    transition: var(--et-transition-color-scheme);
  }
}
/* code pre */
.et-code__container > pre {
  position: relative;
  pointer-events: none;
  z-index: 1;
  /* 隐藏超长的代码行, 因为其::before 使用了一个很大的 width, 会撑起 container 的宽度 */
  overflow: hidden;
}
/* code edit area */
.et-code__container > textarea {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  border: none;
  resize: none;
  z-index: 2;
  /* 禁用 textarea 滚动, 防止细微的长款变化激活滚动条, 导致滚动竞争 */
  overflow: hidden;
}

/* 代码行号 */
.et-code__wrapper {
  /* 重置行号 */
  counter-reset: et-code-line;
}
.et-code__line {
  /* 固定行高, 这样更新某个代码行时浏览器就不必重新计算后续行的位置, 降低Layout开销 */
  display: block;
  height: 1.5em;
  /* 使用 counter自动计算行号 */
  counter-increment: et-code-line;
  position: relative;
  /* 这里使用::before 将行号和一些特殊功能一起实现, 如高亮代码行 */
  &::before {
    content: counter(et-code-line);
    position: absolute;
    left: 0;
    /* 使用一个很大的宽度, 加上继承的 background-color, 来实现代码行背景高亮, 为以后实现 diff ± 高亮功能做铺垫 */
    width: 4999px;
    translate: -40px;
    padding-right: 4967px;
    background-color: inherit;
    color: var(--et-color-text-disabled);
    font-size: 0.9em;
    text-align: end;
    opacity: 0.8;
    z-index: -1;
  }
  /* &::after {
    content: '+';
    position: absolute;
    top: 0;
    left: -32px;
  } */
}

/* 代码自动换行 */
.et-code--wrap {
  pre,
  textarea {
    white-space: pre-wrap;
  }
}

/* 无行号 */
.et-code--no {
  pre,
  textarea {
    padding: 16px;
  }
  .et-code__line {
    &::before {
      content: '';
    }
  }
}

/* 代码块头 */
.et-code__header {
  position: relative;
  overflow: visible;

  & > button {
    position: absolute;
    right: 8px;
    bottom: -8px;
    translate: 0 100%;
    height: 32px;
    width: 32px;
    border: 1px solid var(--et-color-border-1);
    border-radius: 4px;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    et-code:hover & {
      opacity: 1;
    }

    /* et-editor.dark &,
    :host(.dark) & {
      --et-color-bg: #0002;
      --et-color-bg--hover: #0004;
      --et-color-bg--active: #0006;
    } */
  }
  
  /* copy */
  & > .et-code__copy {
    background-image: var(--et-code-bg-copy);
    background-position: center;
    background-repeat: no-repeat;
  
    &.et-code__copy--copied {
      background-image: var(--et-code-bg-copied);
    }
  }
  
  /* render */
  & > .et-code__render {
    display: block;
    right: 48px;
    background-image: var(--et-code-bg-render);
    background-position: center;
    background-repeat: no-repeat;
  }
}
/* 渲染后的代码块, 不显示边框和语言 */
et-code.et-code--rendered {
  border: none;
  &::before {
    display: none;
  }
}

/* 遮罩 */
/* .et-code__wrapper {
  &::before {
    content: "";
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 16px;
    width: 100%;
    border-end-start-radius: var(--et-code-radius);
    border-end-end-radius: var(--et-code-radius);
    background: linear-gradient(
      180deg,
      rgb(255 255 255 / 0) 0%,
      rgb(0 0 0 / 0.3) 100%
    );
    z-index: 3;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
  }
  &:hover::before {
    opacity: 1;
    pointer-events: auto;
  }
} */
