

/* github 风格语意引用块 */
.et-bq, et-bq,
:where(.et-editor, et-editor)[et-theme="default"] :where(.et-bq, et-bq)
{
  &[data-type="note"],
  &[data-type="tip"] ,
  &[data-type="important"],
  &[data-type="warning"],
  &[data-type="caution"] {
    & > et-p:first-of-type,
    & > .et-p:first-of-type {
      font-weight: bold;
      &::before {
        margin-right: 8px;
      }
    }
  }
  &[data-type="note"] {
    --et-bq-color-semantic: #227bff;
    &>et-p:first-of-type,
    &>.et-p:first-of-type {
      color: var(--et-bq-color-semantic);    
      &::before {
        content: 'ⓘ';
      }
    }
  }
  &[data-type="tip"] {
    --et-bq-color-semantic: #07a156;
    &>et-p:first-of-type,
    &>.et-p:first-of-type {
      color: var(--et-bq-color-semantic);
      &::before {
        content: '💡';
      }
    }
  }
  &[data-type="important"] {
    --et-bq-color-semantic: #9771ff;
    &>et-p:first-of-type,
    &>.et-p:first-of-type {
      color: var(--et-bq-color-semantic);
      &::before {
        content: '🔔';
      }
    }
  }
  &[data-type="warning"] {
    --et-bq-color-semantic: #bd7b00;
    &>et-p:first-of-type,
    &>.et-p:first-of-type {
      color: var(--et-bq-color-semantic);
      &::before {
        content: '⚠️';
      }
    }
  }
  &[data-type="caution"] {
    --et-bq-color-semantic: #f14c56;
    &>et-p:first-of-type,
    &>.et-p:first-of-type {
      color: var(--et-bq-color-semantic);
      &::before {
        content: '🛑';
      }
    }
  }

  /* 分栏引用块 (段落组 paragraph-group) */
  &[data-type="pg"],
  &[data-type="pg2"],
  &[data-type="pg3"] {
    column-gap: 1.6em;
    margin-inline: -8px;
    padding: 8px;
    border: none;
    border-radius: 8px;
    outline-width: 1px;
    outline-style: dashed;
    outline-color: transparent;
    transition: outline-color 0.15s ease-out;
    --et-bq-color-semantic: var(--et-color-theme);
  
    &:hover,
    &.Et--active {
      outline-color: var(--et-bq-color-semantic);
    }
  
    &:has(>[data-type="pg2"]),
    &:has(>[data-type="pg3"]) {
      column-count: 1 !important;
    }
    .Et--pg-outlining & {
      margin-inline: 0;
      outline-color: var(--et-bq-color-semantic);
    }
  }
  
}


@container et-body (min-width: 520px) {
  et-bq,
  .et-bq {
    &[data-type="pg2"],
    &[data-type="pg3"] {
      column-count: 2;
      &:has(>.et-bq,>et-bq),
      &:has(>.et-code,>et-code),
      &:has(>.et-table,>et-table) {
        column-count: 1;
      }
    }
  }
}
@container et-body (min-width: 760px) {
  et-bq[data-type="pg3"],
  .et-bq[data-type="pg3"] {
    column-count: 3;
    &:has(>.et-bq,>et-bq),
    &:has(>.et-code,>et-code),
    &:has(>.et-table,>et-table) {
      column-count: 2;
    }
  }
}
