
#Et_ai-deco {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 1em;
  z-index: 9999;

  &.Et_ai-mask {
    width: 48px;
    background-image: linear-gradient(to right, transparent, var(--et-color-bg));
    transform: translateX(-36px);
  }

  &.Et_ai-caret {
    /* 需给编辑器设置 caret-color: transparent 隐藏原生光标 */
    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      border-right: 1px solid;
      filter: brightness(2);
      animation: caret-blink 1s steps(1) infinite;
    }
  }
}

@keyframes caret-blink {
  50% {
    opacity: 0;
  }
}
