@import "tailwindcss";
@plugin "daisyui";

body {
  height: 2000px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 毛玻璃效果 */
.glass {
  backdrop-filter: blur(10px);
  background: rgb(255 255 255 / 0.1);
  border: 1px solid rgb(255 255 255 / 0.2);
}

.glass-dark {
  backdrop-filter: blur(10px);
  background: rgb(0 0 0 / 0.1);
  border: 1px solid rgb(255 255 255 / 0.1);
}