:root {
  color-scheme: light;
  --tw-ease: ease-in;
  --tw-duration: 0.3s;
  --color-primary: #6671e7;
}
:root[data-theme="dark"] {
  color-scheme: dark;
  --color-primary: #9921e7;
}


/* 动画 */
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.Et-fade-in {
  animation: fade-in 0.3s ease-out;
}