@import "./base.css";


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app-main {
  &::after,
  &::before {
    content: '';
    position: fixed;
    inset: 0;
    filter: blur(111px);
  }
  &::before {
    translate: 20% -10%;
    background: radial-gradient(#9921e7, #6671e7 2px, transparent 30%);
  }
  &::after {
    translate: -30% -37%;
    background: radial-gradient(#6671e7, #9971e7 2px, transparent 30%);
  }
}

.editor-host {
  position: relative;
}