@reference "tailwindcss";

.try-btn {
  margin-inline: 24px;
  @apply px-8 py-6 bg-linear-to-r from-blue-700 to-indigo-700 text-white font-semibold rounded-lg hover:shadow-lg transition-colors;

  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 40px;
    height: 150%;
    transform: rotate(-30deg);
    background-color: rgb(255 255 255 / 0.2);
    translate: -200px -50%;
    transition: translate 0.3s;
  }
  &:hover::before {
    translate: 200px -50%;
  }
}