.et-heading,
et-heading {
  position: relative;
  margin: 1em 0 0.2em;
  line-height: 1.5;
  font-weight: bold;
}
.Et_h1,
.Et_h2 {
  border-bottom: 1px solid var(--et-color-border-1);
  transition: border-color 0.3s ease-in;
}
.Et_h1 {
  font-size: 2rem;
  --semi-line-height: calc(1.5 * 2rem / 2);
}
.Et_h2 {
  font-size: 1.8rem;
  --semi-line-height: calc(1.5 * 1.8rem / 2);
}
.Et_h3 {
  font-size: 1.6rem;
  --semi-line-height: calc(1.5 * 1.6rem / 2);
}
.Et_h4 {
  font-size: 1.4rem;
  --semi-line-height: calc(1.5 * 1.4rem / 2);
}
.Et_h5 {
  font-size: 1.2rem;
  --semi-line-height: calc(1.5 * 1.2rem / 2);
}
.Et_h6 {
  font-size: 1rem;
  --semi-line-height: calc(1.5 * 1rem / 2);
}