
et-heading {
  font-weight: bold;
  margin: 0.5em 0 0.2em;
}
et-heading.ET_cls-h1 {
  font-size: 2em;
}
et-heading.ET_cls-h2 {
  font-size: 1.8em;
}
et-heading.ET_cls-h3 {
  font-size: 1.6em;
}
et-heading.ET_cls-h4 {
  font-size: 1.4em;
}
et-heading.ET_cls-h5 {
  font-size: 1.2em;
}
et-heading.ET_cls-h6 {
  font-size: 1em;
}