.et-dd__wrapper {
  /* 定位会让 anchor-position 失效 */
  /* position: relative; */
  /* fixme: only chromium supports now */
  anchor-name: --et-dd-wrapper;
  display: inline;
  margin: 0 2px;
  padding: 2px 3px;
  border-radius: 2px;
  text-decoration: underline;
  background-color: var(--et-color-bg-mute);
  transition: var(--et-transition-color-scheme);
}

.et-dd__container {
  display: inline-block;
  position: absolute;
  position-anchor: --et-dd-wrapper;
  position-area: bottom span-right;
  position-try-fallbacks: flip-inline, flip-block, flip-block flip-inline;

  margin: 3px 0;
  border-radius: 4px;
  background-color: var(--et-color-bg__card);
  box-shadow: var(--et-shadow-m);
  /* overflow: hidden; */
  z-index: 99;
  animation: dropdown-in 0.2s ease-in;

  user-select: none;
  /* dev */
  border: 1px solid var(--et-color-border-1);
}

.et-dd__content {
  display: flex;
  flex-direction: column;
  min-width: 184px;
  max-height: 256px;
  max-width: 211px;
  padding: 0 8px;
  /* overflow-x: hidden;
  overflow-y: auto; */

  /* dev */
  /* background-color: skyblue; */
  /* height: 200px;
    width: 100px; */
}

.et-dd-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  user-select: none;

  padding: 8px 0;

  &:not(:last-child) {
    border-bottom: 1px solid var(--et-color-border-1);
  }

  &:not(:has(.et-dd-menu__item)) {
    justify-content: space-between;
    padding: 8px;
  }
}

.et-dd-menu__item {
  display: inline-block;
  height: 28px;
  width: 28px;
  margin: 2px;
  padding: 4px;
  border-radius: 3px;
  background-color: inherit;

  & > svg {
    width: 20px;
    height: 20px;
  }
}