:root {
  --et-font-cascadia_code: "Cascadia Code";
}

@font-face {
  font-family: "Cascadia Code";
  font-stretch: 100%;
  font-style: normal;
  font-weight: 200 800;
  src: url("../../fonts/cascadia/CascadiaCode.woff2") format("woff2-variations");
}
