:root {
  --et-font-monaspace_argon: "Monaspace Argon";
}

@font-face {
  font-family: "Monaspace Argon";
  font-stretch: 100%;
  font-style: normal;
  font-weight: 200 800;
  src: url("../fonts/monaspace/Monaspace Argon Var.woff2") format("woff2-variations");
}
