:root {
  --et-font-ubuntu: "Ubuntu";
}

@font-face {
  font-family: "Ubuntu";
  font-stretch: 100%;
  font-style: normal;
  font-weight: 200 800;
  src: url("../fonts/ubuntu/ubuntu-font.woff2") format("woff2-variations");
}
