@font-face {
  font-family: "UbuntuVariable";
  font-stretch: 100%;
  font-style: normal;
  font-weight: 100 800;
  src: url("./ubuntu-font.woff2") format("woff2-variations");
}

et-editor::part(ps-prefix),
et-editor::part(ps-suffix),
et-editor::part(ps-block) {
  /* ps */
  background-color: #cccccc99;
}

et-editor::part(ref-prefix),
et-editor::part(ref-suffix),
et-editor::part(ref-block) {
  /* ref */
  background-color: #eee3af99;
}

et-editor::part(rel-prefix),
et-editor::part(rel-suffix),
et-editor::part(rel-block) {
  /* rel */
  background-color: #c7bee699;
}

et-editor::part(prer-block) {
  border: 1px solid #b3d4fc;
  background-color: #eef9fd;
}
et-editor::part(app-block) {
  border: 1px solid #b0f5c5;
  background-color: #e6f6e6;
}