@reference "tailwindcss";

.et-h-navbar__btn {
  @apply p-2 rounded-full bg-gray-100 hover:bg-gray-200 transition-colors;
  transition-property: background-color;
}

[data-theme="dark"] .et-h-navbar__btn {
  @apply bg-gray-800 hover:bg-gray-700
}